<div class="container mt-5">
  <h2>Login</h2>
  
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    
    <div class="mb-3">
      <label>Email:</label>
      <input type="email" 
             class="form-control" 
             name="Email" 
             
             [(ngModel)]="user.email" 
             required 
             #emailRef="ngModel">
      
      @if (emailRef.invalid && emailRef.touched) {
        <small class="text-danger">Email is required</small>
      }
    </div>

    <div class="mb-3">
      <label>Password:</label>
      <input type="password" 
             class="form-control" 
             name="Password" 
             [(ngModel)]="user.password" 
             required 
             minlength="8"
             #passRef="ngModel">
      
      @if (passRef.invalid && passRef.touched) {
        <small class="text-danger">Password must be at least 8 characters</small>
      }
    </div>

    <button type="submit" 
            class="btn btn-primary" 
            [disabled]="loginForm.invalid">
      Login
    </button>

  </form>
</div>