<div class="container" align="center">
  <h3>Students List</h3>
  <button class="btn">Add Student</button>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Student Id</th>
        <th>Roll Number</th>
        <th>Name</th>
        <th>Grade Id</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      @for (item of stdList; track item.StudentId) {
        <tr>
          <td>
            <a [routerLink]="['/student-details', item.StudentId]">
              {{ item.StudentId }}
              <span>Edit</span>
            </a>
          </td>
          <td>{{ item.StudentId }}</td>
          <td>{{ item.RollNumber }}</td>
          <td>{{ item.Name }}</td>
          <td>{{ item.GradeId }}</td>          
        </tr>
      } 
      </tbody>
  </table>
</div>